@model SpicePro.DomainModels.MenuItem
@{
    ViewBag.Title = "Details";
}


<br/>

<br/>

<body style="background-color:burlywood">

    @using (Html.BeginForm("AddtoCart", "Home", new { x = Model.MenuItemId }))
    {
        <div class="border backgroundWhite row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="col-md-8">
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="@Model.MenuName" class="text-info font-weight-bold">Name</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" name="ApplicationUserId" hidden value="@ViewBag.user" />
                        <input asp-for="@Model.MenuItemId" hidden value="@Model.MenuItemId" name="MenuItemId" />

                        <input asp-for="@Model.MenuName" readonly class="form-control" value="@Model.MenuName" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="@Model.Description" class="text-info font-weight-bold">Description</label>
                    </div>
                    <div class="col-md-8">
                        <div class="border rounded p-2">
                            @Html.Raw(@Model.Description)
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="@Model.Price" class="text-info font-weight-bold">Price</label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="@Model.Price" readonly class="form-control" value="@Model.Price" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="@Model.CategoryId" class="text-info font-weight-bold">Category</label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="@Model.Category.CName" readonly class="form-control" value="@Model.Category.CName" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="@Model.SubCategoryId" class="text-info font-weight-bold">SubCategory</label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="@Model.SubCategory.SubCategoryName" readonly class="form-control" value="@Model.SubCategory.SubCategoryName" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="@Model.Spicyness" class="text-info font-weight-bold">Spicyness</label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="@Model.Spicyness" readonly class="form-control" value="@Model.Spicyness">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="Count" class="text-info font-weight-bold">Count</label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="Count" class="form-control" name="Count" value="1" />
                        <span asp-validation-for="Count" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        @*<a asp-action="Menu" class="btn btn-success form-control">Back to List</a>*@
                        @Html.ActionLink("Back to List", "Menu", "Home", new { @class = "btn btn-primary" })
                    </div>
                    <div class="col-md-4">
                        <button type="submit" value="Add to Cart" class="btn btn-danger form-control">Add to Cart</button>
                    </div>
                </div>
            </div>

            <div class="col-md-3 offset-1 d-none d-md-block">
                <img src="@Url.Content(Model.MImage)" style="width:100%" ;border-radius:5px;border:1px solid #bbb9b9;" />
            </div>
        </div>
    }

    </body>










    @*<body style="background-color:burlywood">
        <h2 style="color:crimson">Details of an Item</h2>

        <table class="table">
            <tr>
                <td>
                    <img src="@Url.Content(Model.MImage)" style="width:200px; height:auto" />
                </td>
            </tr>
            <tr>
                <th>Menu ID</th>
                <td>@Model.MenuItemId</td>
            </tr>
            <tr>
                <th>Menu Name</th>
                <td>@Model.MenuName</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>@Model.Description</td>
            </tr>
            <tr>
                <th>Spicyness</th>
                <td>@Model.Spicyness</td>
            </tr>
            <tr>
                <th>Price</th>
                <th>@Model.Price</th>
            </tr>*@
    @*<tr>
                <th>Images</th>
                <th>@Model.MImage</th>
        </tr>*@

    @*<tr>
                <th>Category Id</th>
                <th>@Model.CategoryId</th>
            </tr>

        </table>

        <a href="/Home/Menu" class="btn btn-success">Back To List</a>
        <a href="/Home/Menu" class="btn btn-primary">Add to Cart</a>*@


    @*@Html.ActionLink("Back", "Menu", "Home")*@
    @*</body>*@
